fastapi
uvicorn[standard]
gunicorn
sqlalchemy[asyncio]
sqlmodel
asyncpg
redis
celery
httpx
apscheduler
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pwdlib
argon2-cffi
pydantic-settings
alembic
python-dotenv
pytest
pytest-asyncio
